<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful space
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @space, html: {multipart: true} do |f| %>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Space Type</label>
              <%= f.select :space_type, [["Art Gallery","Art Gallery"],["Auditorium","Auditorium"],["Bar","Bar"],["Cafe","Cafe"],["Classroom","Classroom"],["Conference Hall","Conference Hall"],["Hotel","Hotel"],["Meeting Room","Meeting Room"],["Outdoor","Outdoor"],["Pop-up Space","Pop-up Space"],["Restaurant","Restaurant"],["Rooftop","Rooftop"],["Studio","Studio"],["Unique Space","Unique Space"],["Wedding Venue","Wedding Venue"],["Yacht/Boat","Yacht/Boat"]], id: "space_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accomodation Type</label>
              <%= f.select :accomodation_type, [["All","All"],["Standing","Standing"],["Sitting","Sitting"]], id: "accomodation_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Capacity</label>
              <%= f.select :capacity, [["2-3","2-3"],["4-5","4-5"],["6-10","6-10"],["11-25","11-25"],["26-50","26-50"],["51-100","51-100"],["101-150","101-150"],["151-250","151-250"],["251-500","251-500"],["501-1000","501-1000"],[">1000",">1000"]], id: "capacity", prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Space Name</label>
            <%= f.text_field :space_name, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Summary</label>
            <%= f.text_area :summary, rows: 5, placeholder: "Tell about your space", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_field :address, placeholder: "What is your space address?", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_air %> Air Conditioning
            </div>

            <div class="form-group">
              <%= f.check_box :is_heating %> Heating
            </div>

            <div class="form-group">
              <%= f.check_box :is_bar %> Bar Tab
            </div>

            <div class="form-group">
              <%= f.check_box :is_bathroom %> Bathroom
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_projector %> Projector
            </div>

            <div class="form-group">
              <%= f.check_box :is_sound_system %> Sound & Mic
            </div>

            <div class="form-group">
              <%= f.check_box :is_stage %> Stage
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_podium %> Podium
            </div>

            <div class="form-group">
              <%= f.check_box :is_wifi %> Wi-fi
            </div>

            <div class="form-group">
              <%= f.check_box :is_catering %> Catering
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Price</label>
              <div class="input-group">
                <div class="input-group-addon">HK$</div>
                <%= f.text_field :price, placeholder: "eg. HK$ 1000", class: "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %></div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
              <%= f.check_box :active %> Active
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
