<%= form_for([@space, @space.bookings.new]) do |f| %>

  <div class="row">
    <div class="col-md-12 price_tag">
      <span><%= number_to_currency(@space.price, unit: "HK$ ") %></span>
      <span class="pull-right">Per Event</span>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-4">
        <label>Check In</label>
      </div>
      <div class="col-md-8">

        <%= f.datetime_select :start_date, class: "form-control", id: "start_date", readonly: 'true', placeholder: 'Start Date' %>

        <!--%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %-->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>Check Out</label>
      </div>
      <div class="col-md-8">
        <%= f.datetime_select :end_date, class: "form-control", id: "end_date", readonly: 'true', placeholder: 'End Date', disabled: 'true' %>

        <!--%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control', disabled: 'true' %-->
      </div>
    </div>

    <%= f.hidden_field :space_id, value: @space.id %>
    <%= f.hidden_field :price, value: @space.price %>
    <%= f.hidden_field :total, id: 'booking_total' %>

    <h4><span id="message"></span></h4>

    <div id="preview" style="display: none">
      <table class="booking-table">
        <tbody>
          <tr>
            <td>Day(s)</td>
            <td><span id="booking_days"></span></td>
          </tr>
          <tr>
            <td>Total</td>
            <td>HK$<span id="booking_sum"></span></td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>

    <div class="row">
      <%= f.submit "Book", style: "white-space: normal", id: "btn_book", class: "btn btn-book wide" %>
    <!-- OLD
      <div class="col-md-6">
        <%= f.submit "Book with Paypal", name: "payment_method", style: "white-space: normal", id: "btn_book_paypal", class: "btn btn-book wide", disabled: 'true' %>
      </div>
      <div class="col-md-6">
        <%= form_tag pay_path, id: 'chargeform' do %>

          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>

          <%= hidden_field_tag 'bookind_id', :booking_id %>

          <%#button id="customButton">Purchase</button%>
          <%= f.submit "Book with Credit Card", name: "payment_method", style: "white-space: normal", id: "btn_book_stripe", class: "btn btn-book wide", disabled: 'true' %> <br/>

          <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:P_KEY] %>',
              locale: 'auto',
              token: function(token, arg) {
                $('#stripeToken').val(token.id);
                $('#stripeEmail').val(token.email);
                $('#chargeform').submit();
              }
            });

            $('#btn_book_stripe').on('click', function(e) {
              handler.open({
                name: 'InnoSpace',
                description: '<%= @space.space_name %>',
                currency: "HKD",
                amount: '#booking_total',
                email: '<%= current_user.email %>'
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
              handler.close();
            });
          </script>
        <% end %>
      </div>
    -->
    </div>
    <hr>
  <% end %>

<% end %>

<!--
<script type="text/javascript">
  $("#end_date").on("dp.change", function (e) {
      $('#start_date').data("DateTimePicker").minDate(e.date);
  });
  $("#start_date").on("dp.change", function (e) {
      $('#end_date').data("DateTimePicker").maxDate(e.date);
  });

  $(function() {
    if ($('#booking_end_date')) {
      $('#preview').show();
      $('#btn_book').attr('disabled', false);

      var total = days * <%= @space.price %>
      $('#booking_days').text(days);
      $('#booking_sum').text(total);
      $('#booking_total').val(total);
    }
  }
</script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>

  function unavailable(date) {
    dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }

  $(function() {

    unavailableDates = [];

    $.ajax({
      url: '/preload',
      data: {'space_id': <%= @space.id %>},
      dataType: 'json',
      success: function(data) {
        $.each(data, function(arrID, arrValue) {
          for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });

        $("#booking_start_date").on("dp.change", function (selectedDate) {
          $('#booking_end_date').data("DateTimePicker").minDate(selectedDate.date);
          var end_date = $('#booking_end_date').data("date");
          var start_date = $("#booking_start_date").data("date");
          var days = 1+Math.round((Date.parse(end_date)-Date.parse(start_date))/(1000*60*60*24));

          var input = {
            'start_date': start_date.substring(0, 10),
            'end_date': end_date.substring(0, 10),
            'space_id': <%= @space.id %>
          }

          $.ajax({
            url: "/preview",
            data: input,
            success: function(data) {

            /*if (data.conflict) {

              $('#message').text("This date range is not available.");
              $('#preview').hide();
              $('#btn_book_paypal').attr('disabled', true);
              $('#btn_book_stripe').attr('disabled', true);

            } else {*/

              $('#preview').show();
              $('#btn_book_paypal').attr('disabled', false);
              $('#btn_book_stripe').attr('disabled', false);

              var total = days * <%= @space.price %>
              $('#booking_days').text(days);
              $('#booking_sum').text(total);
              $('#booking_total').val(total);
            }
          });
        });

        $("#booking_end_date").on("dp.change", function (selectedDate) {
          $('#booking_start_date').data("DateTimePicker").maxDate(selectedDate.date);

          var end_date = $('#booking_end_date').data("date");
          var start_date = $("#booking_start_date").data("date");
          var days = 1+Math.round((Date.parse(end_date)-Date.parse(start_date))/(1000*60*60*24));
          var hours = Math.round((Date.parse(end_date)-Date.parse(start_date))/(1000*60*60));
          var time = days + ' days (' + hours + ' hours)'

          var input = {
            'start_date': start_date.substring(0, 10),
            'end_date': end_date.substring(0, 10),
            'space_id': <%= @space.id %>
          }

          $.ajax({
            url: "/preview",
            data: input,
            success: function(data) {

            /*if (data.conflict) {

              $('#message').text("This date range is not available.");
              $('#preview').hide();
              $('#btn_book_paypal').attr('disabled', true);
              $('#btn_book_stripe').attr('disabled', true);
              $('#btn_book').attr('disabled', true);

            } else {*/

              $('#preview').show();
              $('#btn_book_paypal').attr('disabled', false);
              $('#btn_book_stripe').attr('disabled', false);
              $('#btn_book').attr('disabled', false);

              var total = days * <%= @space.price %>
              $('#booking_days').text(time);
              $('#booking_sum').text(total);
              $('#booking_total').val(total);
            }
          });
        });
      }
    });
  });
</script>